<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Facture</title>

    <style>
        @page {
            margin-left: 24 !important;
            margin-right: 24 !important;
            margin-top: 24 !important;
            margin-bottom: 24 !important;
            padding: 0 !important;
            font-size: 12px;
        }
    </style>

</head>

<body>
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <img src="data:image/svg+xml;base64, {{ logo1 }}" width="70px">
                <img src="data:image/svg+xml;base64, {{ logo2 }}" width="120px"
                    style=" margin-left : 10pt; margin-bottom: 14pt">

            </td>
            <td style="width: 100%; text-align:right">
                <div
                    style="display: inline-block; overflow: hidden; min-width:80px; border: 0.5pt solid black;  border-radius:8px">
                    <div style=" background-color : lightgray; padding: 5px; text-align: center;">
                        Facture N°
                    </div>
                    <div style="background-color : white; padding: 5px; text-align: center;">
                        {{chrono}}
                    </div>
                </div>
                <div
                    style="display: inline-block; overflow: hidden; min-width:80px; border: 0.5pt solid black;  border-radius:8px">
                    <div
                        style="background-color : lightgray; padding: 5px; margin-top:0.5pt; margin-left:0.5pt; margin-right:0.5pt; text-align: center;">
                        Date
                    </div>
                    <div style="background-color : white; padding: 5px; text-align: center;">
                        {{date}}
                    </div>
                </div>
                <div
                    style="display: inline-block; overflow: hidden; min-width:80px; border: 0.5pt solid black;  border-radius:8px">
                    <div style=" background-color : lightgray; padding: 5px; margin-top:0.5pt; margin-left:0.5pt;
                    margin-right:0.5pt; text-align: center;">
                        Client
                    </div>
                    <div style="background-color : white; padding: 5px; text-align: center;">
                        {% if trusteeRef is defined %}
                        {{trusteeRef}}
                        {% endif %}
                        {% if customerRef is defined %}
                        {{customerRef}}
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>

    </table>


    <table style="width: 100%; margin-top: 40;">
        <tr>
            <td style="width: 100%;">

                <p style="font-weight: bold; line-height: 0.6;">
                    39 rue du Docteur Pierre Richelmi
                </p>
                <p style="font-weight: bold; line-height: 0.6;">
                    Le Michaela
                </p>
                <p style="font-weight: bold; line-height: 0.6;">
                    06300 Nice
                </p>
                <p style="line-height: 0.6;">
                    Tél : +33 4 93 26 36 67
                </p>
                <p style="line-height: 0.6;">
                    SIRET : 920 461 357 00013
                </p>
                <p style="line-height: 0.6;">
                    R.C.S. : 920 461 357
                </p>
            </td>
            <td style="text-align: left; font-weight: bold;">
                {% if property is defined %}
                <p style="white-space: nowrap; line-height: 0.6;">
                    {{property}}
                </p>
                <p style="white-space: nowrap; line-height: 0.6;">
                    c/o {{trustee}}
                </p>
                {% endif %}
                {% if customer is defined %}
                <p style="white-space: nowrap; line-height: 0.6;">
                    {{customer}}
                </p>
                {% endif %}
                <p style="white-space: nowrap; line-height: 0.6;">
                    {{address}}
                </p>
                <p style="white-space: nowrap; line-height: 0.6;">
                    {{postcode}} {{city}}
                </p>
            </td>
            <td style="width: 50;">
            </td>
        </tr>
    </table>


    <div style="margin-top: 40; margin-bottom: 10">
        {% if subject is defined %}
        <div style="padding-bottom : 5pt;">
            {{subject}}
        </div>
        {% endif %}
        {% if refundReference is defined %}
        <div style="border : 0.5pt solid black; border-radius : 8px; display: inline-block; padding : 5pt;">
            Avoir sur la facture : {{refundReference}}
        </div>
        {% endif %}
        {% if details.orderTags is defined %}
        {% for k,v in details.orderTags %}
        <div style="border : 0.5pt solid black; border-radius : 8px; display: inline-block; padding : 5pt;">
            {{k}} : {{v}}
        </div>
        {% endfor %}
        {% endif %}

        {% if property is defined %}
        <div style="border : 0.5pt solid black; border-radius : 8px; display: inline-block; padding : 5pt;">
            Copropriété : {{propertydetails}}
        </div>
        {% endif %}
        {# {% if details.proprietaire is defined and details.proprietaire != " %}
        <div style="border : 0.5pt solid black; border-radius : 8px; display: inline-block; padding : 5pt;">
            Propriétaire : {{details.proprietaire}}
        </div>
        {% endif %} #}
    </div>


    <table style="min-height: 450px; width: 100%; border-spacing: 0; border-collapse: separate;
    overflow: hidden;
    position: relative;
    border: 0.5pt solid black; border-radius:8px">
        <thead style="background-color: lightgray; text-align: left; overflow: hidden;">
            <tr>
                <th style="padding: 5 10; border-right: 0.5pt solid black;">Réf.</th>
                <th style="padding: 5 10; border-right: 0.5pt solid black; width: 100%;">Désignation</th>
                <th style="padding: 5 10; border-right: 0.5pt solid black; width: 40; text-align: center">Quantité
                </th>
                <th style="padding: 5 10; border-right: 0.5pt solid black; width : 50; text-align: right;">PU TTC</th>
                <th style="padding: 5 10; width : 50; text-align: right;">Total TTC
                </th>
            </tr>
        </thead>
        <tbody style="height: 100%; position:relative;">
            {% for content in contents %}
            <tr>
                <td style="padding: 5 10; border-right: 0.5pt solid black; border-bottom : 0.5pt solid black;">
                    {{content.reference}}
                </td>
                <td style="padding: 5 10; border-right: 0.5pt solid black; border-bottom : 0.5pt solid black;">
                    <div>
                        {{content.title}}
                    </div>
                    <div>
                        {% if content.proprietaire is defined and content.proprietaire != "" %}
                        ({{content.proprietaire}})
                        {% endif %}
                        {% if content.occupant is defined and content.occupant != "" %}
                        {{content.occupant}}
                        {% endif %}
                    </div>
                </td>
                <td
                    style="padding: 5 10; border-right: 0.5pt solid black; border-bottom : 0.5pt solid black; text-align:center;">
                    {{content.quantity}}
                <td
                    style="padding: 5 10; border-right: 0.5pt solid black; border-bottom : 0.5pt solid black; text-align: right;">
                    {{ (content.amount + content.amount * tva / 100)|format_currency('EUR', locale='fr') }}
                </td>
                <td style="padding: 5 10; text-align: right; border-bottom : 0.5pt solid black;">
                    {{ ((content.amount + content.amount * tva / 100) * content.quantity)|format_currency('EUR',
                    locale='fr') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <table style="width: 100%; margin-top: 10;">
        <tr>
            <td>
                <table style="width: 260; border-spacing: 0; border-collapse: separate;
        overflow: hidden;
        border: 0.5pt solid black; border-radius:8px">
                    <tr>
                        <td colspan="2"
                            style="padding: 5 10 5 10; border-bottom : 0.5pt solid black; font-weight: bold;">
                            Relevé d'identité bancaire
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5 10 0 10; width: 30%;">
                            IBAN
                        </td>
                        <td style="padding: 5 10 0 10;">
                            FR76 1460 7003 1470 7216 8761 114
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10; width: 30%;">
                            BIC
                        </td>
                        <td style="padding: 0 10;">
                            CCBPFRPPMAR
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10; width: 30%;">
                            Code Banque
                        </td>
                        <td style="padding: 0 10;">
                            14607
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10; width: 30%;">
                            Code Guichet
                        </td>
                        <td style="padding: 0 10;">
                            00314
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10; width: 30%;">
                            N° du compte
                        </td>
                        <td style="padding: 0 10;">
                            70721687611
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10 5 10; width: 30%;">
                            Clé RIB
                        </td>
                        <td style="padding: 0 10 5 10;">
                            14
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="width: 200; border-spacing: 0; border-collapse: separate;
        overflow: hidden;
        border: 0.5pt solid black; margin-left: auto; border-radius:8px">
                    <tr>
                        <td style="padding: 5 10; background-color: lightgray; width: 50%;">Total HT</td>
                        <td style="padding: 5 10; text-align: right;">{{ amountHT|format_currency('EUR', locale='fr') }}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5 10; background-color: lightgray; width: 50%;">Total TVA ({{tva}}%)</td>
                        <td style="padding: 5 10; text-align: right;">{{ (amountTTC - amountHT) |format_currency('EUR',
                            locale='fr') }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 5 10; background-color: lightgray; width: 50%;">Total TTC</td>
                        <td style="padding: 5 10; text-align: right;">{{ amountTTC|format_currency('EUR', locale='fr')
                            }}
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td
                            style="padding: 5 10; background-color: lightgray; width: 50%; border-top: 0.5pt solid black;">
                            Net à payer
                        </td>
                        <td style="padding: 5 10; text-align: right; border-top: 0.5pt solid black;">{{
                            amountTTC|format_currency('EUR',
                            locale='fr') }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</body>

</html>