<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Facture</title>

    <style>
        @page {
            margin-left: 24 !important;
            margin-right: 24 !important;
            margin-top: 24 !important;
            margin-bottom: 24 !important;
            padding: 0 !important;
        }

        /* body {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif";

        }

        p {
            line-height: 0.6;
        }

        .card-header {
            border: 1pt black solid;
            border-radius: 5pt;
            display: inline-block;
            overflow: hidden;
        }

        .card-header div {
            text-align: center;
            height: 20px;
            padding: 2 10 0 10;
            white-space: nowrap;
        }

        .card {
            border: 1pt black solid;
            border-radius: 5pt;
            padding: 10 10;
            display: inline-block;
        }

        .client {
            display: inline-block;
            max-width: 200;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 5 10;
            text-align: left;
        }

        th {
            border-color: lightgray;
        }


        .content-table {
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            border-radius: 10px;
            overflow: hidden;
            border: 1pt solid black;
            position: relative;
        }

        .border-right {
            border-right: 1pt solid black;
        }


        thead {
            background-color: lightgray;
            text-align: left;
            border-bottom: 1 solid black;
        }

        .footer {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0px;
        } */
    </style>

</head>


<body>

    <table style="width: 100%;">
        <tr>
            <td style="width: auto">
                {# <img src="{{imageSrc}}" style="width:280px"> #}
            </td>
            <td style="width: 100%; text-align:right">
                <div class="card-header">
                    <div style="background-color : lightgray;">
                        Facture N°
                    </div>
                    <div>
                        {{chrono}}
                    </div>
                </div>
                <div class="card-header">
                    <div style="background-color : lightgray;">
                        Date
                    </div>
                    <div>
                        {{date}}
                    </div>
                </div>
                <div class="card-header">
                    <div style="background-color : lightgray;">
                        Client
                    </div>
                    <div>
                        {% if trusteeRef is defined %}
                        {{trusteeRef}}
                        {% endif %}
                        {% if customerRef is defined %}
                        {{customerRef}}
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>

    </table>


    <table style="width: 100%; margin-top: 40;">
        <tr>
            <td style="width: 100%;">
                <p style="font-weight: bold;">
                    39 rue du Docteur Pierre Richelmi
                </p>
                <p style="font-weight: bold;">
                    Le Michaela
                </p>
                <p style="font-weight: bold;">
                    06300 Nice
                </p>
                <p>
                    Tél : +33 4 93 26 36 67
                </p>
                <p>
                    SIRET : 920 461 357 00013
                </p>
                <p>
                    R.C.S. : 920 461 357
                </p>
            </td>
            <td style="text-align: left; font-weight: bold;">
                {% if property is defined %}
                <p style="white-space: nowrap;">
                    {{property}}
                </p>
                <p style="white-space: nowrap;">
                    c/o {{trustee}}
                </p>
                {% endif %}
                {% if customer is defined %}
                <p style="white-space: nowrap;">
                    {{customer}}
                </p>
                {% endif %}
                <p style="white-space: nowrap;">
                    {{address}}
                </p>
                <p style="white-space: nowrap;">
                    {{postcode}} {{city}}
                </p>
            </td>
            <td style="width: 50;">
            </td>
        </tr>
    </table>


    <div style="margin-top: 40; margin-bottom: 10">
        {% if refundReference is defined %}
        <div class="card" style="background-color : lightgray;">
            Avoir sur la facture : {{refundReference}}
        </div>
        {% endif %}
        {% if details.orderTags is defined %}
        {% for k,v in details.orderTags %}
        <div class="card">
            {{k}} : {{v}}
        </div>
        {% endfor %}
        {% endif %}

        {% if property is defined %}
        <div class="card">
            Copropriété : {{property}}
        </div>
        {% endif %}
        {% if details.proprietaire is defined %}
        <div class="card">
            Propriétaire : {{details.proprietaire}}
        </div>
        {% endif %}
    </div>


    <table class="content-table" style="min-height: 500px;">
        <thead>
            <tr>
                <th class="border-right">Réf.</th>
                <th class="border-right" style="width: 100%;">Désignation</th>
                <th class="border-right" style="width: 40; text-align: center">Quantité</th>
                <th class="border-right" style="width : 50; text-align: right;">PU TTC</th>
                <th style="width : 50; text-align: right;">Total TTC</th>
            </tr>
        </thead>
        <tbody style="height: 100%; position:relative;">
            {% for content in contents %}
            <tr>
                <td class="border-right">
                    {{content.reference}}
                </td>
                <td class="border-right">
                    {{content.title}}
                    {% if content.occupant is defined %}
                    ({{content.occupant}})
                    {% endif %}

                </td>
                <td class="border-right" style="text-align:center;">
                    {{content.quantity}}</td>
                <td class="border-right" style="text-align: right;">
                    {{ (content.amount + content.amount * tva / 100)|format_currency('EUR', locale='fr') }}
                </td>
                <td style="text-align: right;">
                    {{ ((content.amount + content.amount * tva / 100) * content.quantity)|format_currency('EUR',
                    locale='fr') }}
                </td>
            </tr>
            {% endfor %}
        <tfoot style="border-top: 1px solid black;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        </tbody>
    </table>

    {# <div style="margin-top: 20;">
        <table class="content-table" style="width: 200; margin-left: auto;">
            <tr>
                <td style="background-color: lightgray; width: 50%;">Total HT</td>
                <td style="text-align: right;">{{ amountHT|format_currency('EUR', locale='fr') }}</td>
            </tr>
            <tr>
                <td style="background-color: lightgray; width: 50%;">Total TVA ({{tva}}%)</td>
                <td style="text-align: right;">{{ (amountTTC - amountHT) |format_currency('EUR', locale='fr') }}</td>
            </tr>
            <tr>
                <td style="background-color: lightgray; width: 50%;">Total TTC</td>
                <td style="text-align: right;">{{ amountTTC|format_currency('EUR', locale='fr') }}</td>
            </tr>
            <tr style="font-weight: bold;">
                <td style="background-color: lightgray; width: 50%; border-top: 1pt solid black;">Net à payer</td>
                <td style="text-align: right; border-top: 1pt solid black;">{{ amountTTC|format_currency('EUR',
                    locale='fr') }}</td>
            </tr>
        </table>
    </div> #}

</body>

</html>